[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.exe
[Tt]humbs.db 
_ReSharper.*
*.resharper
log*.txt*
SolRServer/example/solr/data/*
App.config
Web.config
Web.Debug.config
Web.Release.config
CorrespondenceQuery.Publish.xml
jscoverage/
Thumbs.db
*.swp
TestResults/
Docs/Training/~$cus group training.docx
UpgradeLog.htm
UpgradeLog.XML
_UpgradeReport_Files/
